<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Trail Guide{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-trailDetails.css" />
        <link rel="stylesheet" href="/css/style-region.css" />

  </head>
  <body>
    {% block header %}{% include "./_header.html" %}{% endblock %}
    <main class ="main-content">{% block main_content %}{% endblock %}</main>
    {% block footer %} {% include "./_footer.html" %} {% endblock %}
  </body>
</html>
