{% extends "_base.html" %}
{% import "macros/post.html" as postCard %}
{% block header %}
    <header
      class="masthead"
      style="background-image: url(&quot;/theme/assets/img/home-bg.jpg&quot;)"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="site-heading">
          <h1>{{ headerTitle }}</h1>
          <span class="subheading">{{ headerSubtitle }}</span>
        </div>
      </div>
    </header>
    {% endblock %}
{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-7">
        {% for post in posts %}
          {{ postCard.postCard(post) }}
        {% endfor %}
  </div>
</div>
</article>
{% endblock %}

